.productTitle {
  font-size: 20px;
  margin-bottom: 20px;
}

.emptyWrapper {
  background-color: #dadada;
  height: 120px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}