@media (width< 500px) {
  .gridProduct {
    padding: 0 18px;
  }
}

@media (width > 768px) {
  .gridProduct {
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
  }
}

.gridProduct {
  display: grid;
  grid-gap: 14px;
}

.searchWrapper {
  padding: 0 0 24px 0;

  .inputSearch {
    width: 100%;
    height: 40px;
    padding: 8px 16px; 
    border-radius: 4px;
    border: 0;
    background-color: #dadada;
  }
}
