.grid {
  width: 100%;
  height: 280px;
  margin-bottom: 8px;

  .productImage {
    width: 100%;
    height: 240px;
    background-color: #dadada;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .productTitle {
    padding-top: 4px;
  }

  .productPrice {
    font-size: 14px;
  }
}